---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="min-h-screen flex flex-col justify-center items-center">
		<h1 class="font-thin text-3xl">Investing In The Future.</h1>
	<p>
		ikoni Capital is focused on modern, high-potential private equity
		investments in the most critical parts of the South African economy.<br
		/>
		We have a vast array of industry connections that allow us to identify the
		most lucrative investments before anyone else can.<br />
		We have a broad portfolio, stretching from agriculture, to tourism, but there
		are a few key principles that tie those investments together.
	</p>
	<a></a>
	</div>
</Layout>
